---
import NFTcard from "../components/NFTcard.astro";

const nftList = [
    {
        imgSrc: "/images/nft1.webp",
        title: "jade Crowned Simian",
        creator: "Orion Vale",
        currentBid: "10",
    },
    {
        imgSrc: "/images/nft2.webp",
        title: "Skyline Spectre Sentinel",
        creator: "Zara Quill",
        currentBid: "10",
    },
    {
        imgSrc: "/images/nft3.webp",
        title: "Neon Grin Entity",
        creator: "Lyra Vance",
        currentBid: "10",
    },
    {
        imgSrc: "/images/nft1.webp",
        title: "jade Crowned Simian",
        creator: "Orion Vale",
        currentBid: "10",
    },
    {
        imgSrc: "/images/nft1.webp",
        title: "jade Crowned Simian",
        creator: "Orion Vale",
        currentBid: "10",
    },
];
---

<section class="mt-[820px] mb-64">
    <div class="information text-white font-bold text-6xl text-center">
        <h1>Top Picks This Week</h1>
        <h1>Your Next Big NFT Awaits</h1>
    </div>

    <div
        id="nftContainer"
        class="flex gap-5 mt-12 overflow-x-auto scrollbar-hide snap-x snap-mandatory scroll-smooth"
    >
        {
            nftList.map((nft) => (
                <div class="nft-items">
                    <NFTcard
                        imgSrc={nft.imgSrc}
                        title={nft.title}
                        creator={nft.creator}
                        currentBid={nft.currentBid}
                    />
                </div>
            ))
        }
    </div>

    <!-- Load file TS hanya di client -->
    <script type="module" src="/src/scripts/ScrollHorizontal.ts"></script>
</section>
