---
import NFTcard from "./NFTcard.astro";
---

<section class="mt-[820px]">
    <div class="information text-white font-bold text-6xl text-center">
        <h1>Top Picks This Week</h1>
        <h1>Your Next Big NFT Awaits</h1>
    </div>

    <NFTcard />
</section>
