---
import FadeIn from "../components/animation/FadeIn";
---

<FadeIn client:load delay={0.3}>
    <section
        id="home"
        class="text-white max-w-5xl flex flex-col mx-auto mt-20 sm:mt-10 px-4 sm:px-6 lg:px-8"
    >
        <!-- Information -->
        <div class="flex flex-col items-center gap-5">
            <h1
                class="font-bold text-center text-4xl sm:text-5xl lg:text-7xl leading-tight"
            >
                Unlock the Future of Digital Ownership with Exclusive NFTs
            </h1>
            <p
                class="text-base sm:text-lg md:text-xl lg:text-2xl lg:max-w-lg max-w-sm text-center"
            >
                Discover, Collect, and Trade Unique Digital Assets on the
                Blockchain.
            </p>
        </div>

        <a
            href="#"
            class="font-semibold text-lg sm:text-xl lg:text-2xl bg-blue py-3 px-6 sm:py-4 sm:px-8 rounded-2xl shadow-blueGlow mt-8 w-auto self-center"
        >
            Explore Now
        </a>
    </section>
</FadeIn>
