---
import FadeIn from "../components/animation/FadeIn";
---

<FadeIn client:load delay={0.3}>
    <section
        id="news"
        class="max-w-[1119px] w-full flex flex-col gap-8 sm:gap-10 md:gap-12 lg:gap-14 mx-auto mt-56 px-4 sm:px-6 lg:px-8"
    >
        <h2
            class="text-white font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center"
        >
            Discover how our NFTs can be a valuable investment and open up new
            opportunities in the digital world.
        </h2>
        <a
            href="#"
            class="font-semibold text-lg sm:text-xl lg:text-2xl bg-blue py-3 px-6 sm:py-4 sm:px-8 rounded-2xl shadow-blueGlow mt-8 w-auto self-center text-white"
            >Explore Further</a
        >
    </section>
</FadeIn>
