---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body
        class="bg-darkBlue w-full min-h-screen relative overflow-x-hidden font-montserrat pb-7"
    >
        <!-- Wrapper untuk slot -->
        <div class="relative z-10">
            <slot />
        </div>

        <!-- Gradient Pattern wrapper -->
        <div class="absolute inset-0 overflow-hidden -z-0">
            <!-- 1. Gradient kiri atas -->
            <div
                class="absolute w-36 h-36 sm:w-56 sm:h-56 md:w-[380px] md:h-[420px]
                bg-backgoundGradient rounded-full
                top-6 sm:top-10 md:top-16 -left-12 sm:-left-20 -rotate-45
                blur-[100px] sm:blur-[180px] md:blur-[250px] z-0"
            >
            </div>

            <!-- 2. Gradient kanan atas -->
            <div
                class="absolute w-36 h-36 sm:w-56 sm:h-56 md:w-[380px] md:h-[420px]
                bg-backgoundGradient rounded-full
                top-28 sm:top-36 md:top-48 -right-12
                blur-[100px] sm:blur-[180px] md:blur-[250px] -rotate-45 z-0"
            >
            </div>

            <!-- 3. Gradient tengah -->
            <div
                class="absolute w-[260px] h-[220px] sm:w-[480px] sm:h-[360px] md:w-[700px] md:h-[550px]
            bg-backgoundGradient rounded-full opacity-60
            top-[520px] sm:top-[850px] md:top-[1200px] right-1/4
            blur-[180px] sm:blur-[300px] md:blur-[500px] z-0"
            >
            </div>

            <!-- 4. Gradient kanan tengah -->
            <div
                class="absolute w-[260px] h-[220px] sm:w-[480px] sm:h-[360px] md:w-[700px] md:h-[550px]
                bg-backgoundGradient rounded-full
                top-[900px] sm:top-[1300px] md:top-[1700px] -right-20
                blur-[180px] sm:blur-[300px] md:blur-[500px] z-0"
            >
            </div>

            <!-- 5. Gradient bawah tengah -->
            <div
                class="absolute w-[300px] h-[240px] sm:w-[520px] sm:h-[380px] md:w-[800px] md:h-[600px]
                bg-backgoundGradient rounded-full
                bottom-36 sm:bottom-16 md:bottom-0 right-[20%]
                blur-[200px] sm:blur-[300px] md:blur-[500px] z-0"
            >
            </div>

            <!-- 6. Gradient bawah kiri -->
            <div
                class="absolute w-[280px] h-[220px] sm:w-[460px] sm:h-[360px] md:w-[720px] md:h-[560px]
                bg-backgoundGradient rounded-full
                bottom-[200px] sm:bottom-[120px] md:bottom-[80px] -left-24
                blur-[200px] sm:blur-[300px] md:blur-[480px] z-0"
            >
            </div>

            <!-- 7. Gradient atas tengah -->
            <div
                class="absolute w-28 h-28 sm:w-44 sm:h-44 md:w-72 md:h-72
                backgoundGradient rounded-full opacity-70
                top-64 sm:top-80 md:top-96 left-1/2 -translate-x-1/2
                blur-[120px] sm:blur-[180px] md:blur-[260px] z-0"
            >
            </div>

            <!-- 8. Gradient kanan bawah besar -->
            <div
                class="absolute w-[320px] h-[260px] sm:w-[500px] sm:h-[400px] md:w-[820px] md:h-[620px]
                bg-backgoundGradient rounded-full opacity-70
                bottom-10 sm:bottom-20 md:bottom-32 right-0
                blur-[220px] sm:blur-[320px] md:blur-[520px] z-0"
            >
            </div>

            <!-- 9. Gradient diagonal lembut -->
            <div
                class="absolute w-[200px] h-[200px] sm:w-[360px] sm:h-[360px] md:w-[600px] md:h-[600px]
                bg-backgoundGradient rounded-full opacity-40
                top-[1500px] sm:top-[2000px] md:top-[2600px] left-[10%]
                blur-[180px] sm:blur-[280px] md:blur-[400px] z-0"
            >
            </div>

            <!-- 10. Gradient kiri tengah ekstra -->
            <div
                class="absolute w-[200px] h-[200px] sm:w-[360px] sm:h-[360px] md:w-[580px] md:h-[580px]
                bg-backgoundGradient rounded-full opacity-50
                top-[1100px] sm:top-[1500px] md:top-[1900px] -left-20
                blur-[160px] sm:blur-[260px] md:blur-[420px] z-0"
            >
            </div>
        </div>

        <!-- Pattern -->
        <div class="absolute inset-0 overflow-hidden -z-0">
            <img
                src="/images/pattern/asset.webp"
                alt="pattern"
                class="top-[550px] md:top-[650px] absolute"
            />
            <img
                src="/images/pattern/Pattern2.svg"
                alt="pattern-2"
                class="absolute w-full bottom-0"
            />
        </div>
    </body>
</html>
