---

---

<footer class="absoulte flex justify-between text-white mx-11 mt-96">
    <div class="w-[558px] flex flex-col gap-7">
        <div class="flex flex-col gap-3">
            <img src="/images/NebulaNFT.webp" alt="logo" class="w-52" />
            <p>
                Own a piece of the future with our exclusive NFT collection.
                Each NFT is a rare and valuable piece of digital art, available
                only to select collectors.
            </p>
        </div>
        <div class="icons flex gap-9">
            <img src="/instagram.svg" alt="instagram-icon" />
            <img src="/twitter.svg" alt="twitter-icon" />
            <img src="/facebook.svg" alt="facebook-icon" />
            <img src="/discord.svg" alt="discord-icon" />
        </div>
    </div>
    <div class="flex justify-between w-[666px]">
        <div class="explore flex flex-col justify-between">
            <p class="font-semibold text-blue text-lg">Explore</p>
            <p class="font-normal text-white text-lg">Art</p>
            <p class="font-normal text-white text-lg">Photography</p>
            <p class="font-normal text-white text-lg">Music</p>
            <p class="font-normal text-white text-lg">Games</p>
        </div>
        <div class="nyAccount flex flex-col justify-between">
            <p class="font-semibold text-blue text-lg">My Account</p>
            <p class="font-normal text-white text-lg">My Profile</p>
            <p class="font-normal text-white text-lg">My Collection</p>
            <p class="font-normal text-white text-lg">My Favorites</p>
            <p class="font-normal text-white text-lg">My Account Setting</p>
        </div>
        <div class="Resource flex flex-col justify-between">
            <p class="font-semibold text-blue text-lg">Resource</p>
            <p class="font-normal text-white text-lg">Help Center</p>
            <p class="font-normal text-white text-lg">Partners</p>
            <p class="font-normal text-white text-lg">Suggestions</p>
            <p class="font-normal text-white text-lg">News Letters</p>
        </div>
        <div class="Company flex flex-col justify-between">
            <p class="font-semibold text-blue text-lg">Company</p>
            <p class="font-normal text-white text-lg">About</p>
            <p class="font-normal text-white text-lg">Careers</p>
            <p class="font-normal text-white text-lg">Ranking</p>
            <p class="font-normal text-white text-lg">Activity</p>
        </div>
    </div>
</footer>
